body {
	margin: 0;
	background: #E8F0F9;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1720px;
	margin: 0 auto;
}

.header {
	background: #FFFFFF;
	border-radius: 15px;
	width: 1720px;
	height: 110px;
	margin-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700px;
	color: #000000;
}

.nav {
	font-size: 24px;
	text-transform: capitalize;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 35px;
	position: relative;

	color: #000000;
	text-decoration: none;

	transition: color 0.2s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #016AE7;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
}

.nav__link:hover {
	color: #016AE7;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #016AE7;
}




.rectangle {
	position: absolute;
	width: 1815px;
	height: 670px;
	left: 53px;
	top: 210px;
	background: rgba(7, 42, 167, 0.59);
	border-radius: 15px;
}

.printer__logo {
	position: absolute;
	width: 473px;
	height: 284px;
	left: 1288px;
	top: 145px;
	
	background: url(../../img/home/printer.png);
}

.rectangle_title {
	position: absolute;
	width: 862px;
	height: 174px;
	left: 142px;
	top: 100px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
	
	color: #000000;
}

.rectangle_text {
	position: absolute;
	width: 1129px;
	height: 303px;
	left: 120px;
	top: 300px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	
	color: #000000;
}

.rectangle__button {
	position: absolute;
	width: 350px;
	height: 80px;
	left: 212px;
	top: 520px;
	background: rgba(7, 42, 167, 0.59);
	border-radius: 5px;
}

.rectangle__button:hover {
	background-color: #fff;
	transition: 1s linear;
}

.rectangle__button:hover .rectangle__button__text {
	color: #072AA7;
}

.rectangle__button__text {
	position: absolute;
	left: 30px;
	top: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	
	color: #FFFFFF;
}


@font-face {
	font-family: "GothamPro"; 
	src: url("../../fonts/GothamPro.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "GothamPro-Bold"; 
	src: url("../../fonts/GothamPro-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 