.logo_img {
	width: 180px;
	height: 180px;
}

.logo_img_text {
	position: absolute;
	width: 180px;
	height: 180px;
  animation: 30s linear 0s normal none infinite running logo_img_text;
  -webkit-animation: 30s linear 0s normal none infinite running logo_img_text;
}
/*поворот логотипа вокруг своей оси*/
@keyframes logo_img_text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes logo_img_text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
	margin-top: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 50%;
}

.logo_text {
	margin-top: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 50%;
	color: #fbfbfb;
}

.logo_text_second {
	margin-top: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 50%;
	color: #fbfbfb;
}

.logo_text_img {
	font-family: "GothamPro";
	font-size: 16pt;
}

.logo_text_img_second {
	font-family: "GothamPro";
	font-size: 9pt;
}

.logo_button {
	margin-top: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*opacity: 50%;*/
}

.logo_button_img {
	font-family: "GothamPro-Bold";
	color: black;
	background-color: #fbfbfb;
  	appearance: none;
  	border: 2px solid #fbfbfb;
  	border-radius: 5px;
  	padding: 8px 26px;
  	font-size: 16px;
  	width: 120px;
  	height: 40px;
  	opacity: 65%;
  	font-size: 12pt;
  	letter-spacing: 3px;
  	z-index: 10000;
}

.logo_button_img:hover {
	background-color: black;
	color: #fbfbfb;
}

@font-face {
	font-family: "GothamPro"; 
	src: url("../../fonts/GothamPro.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "GothamPro-Bold"; 
	src: url("../../fonts/GothamPro-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 